.title-section {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
	margin-bottom: 10px;
}
.top {
	display: inline-block;
	width: 100%;
	border-bottom: @border;
	padding-bottom: 7px;
	margin-bottom: 12px;
	.title {
		display: inline-block;
		font-size: 16px;
		color: @primary-color;
		text-transform: uppercase;
		margin: 0;
	}
	a {
		cursor: pointer;
	}
}
.no-banner {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 10px;
	p {
		margin-bottom: 15px;
		color: @text-color-3;
	}
	button {
		text-transform: uppercase;
		color: #fff;
		background: @bg-color;
	    padding: 6px 16px;
		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}
		i {
			margin-right: 8px;
		}
	}
}
.action {
	display: inline-block;
	margin-top: 20px;
	.cancel {
		text-decoration: underline;
		margin-right: 10px;
		cursor: pointer;
	}
	.button-update {
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		background: @primary-color;
	}
}
.banner-update,
.banner-add {
	display: none;
}
.banner-update,
.update-banner,
.banner-add {
	.col-md-3 {
		padding-right: 0;
	}
	.col-md-9 {
		padding-left: 0;
		img {
			height: 305px;
			width: 100%;
		}
	}
	.wrap_btn {
		padding-left: 0;
		float: none;
		margin: 0;
		margin-bottom: 10px;
	}
	.btn-loadfile {
		display: inline-block;
	    padding: 5px 22px;
		border: 1px solid @primary-color;
		border-radius: 3px;
		position: relative;
		text-decoration: none;
		input[type=file] {
			position: absolute;
		    top: 0;
		    height: 35px;
		    width: 100%;
		    cursor: pointer;
		    left: 0;
		}
	}
	.size-note {
		font-size: 13px;
		color: @text-color-3;
		margin-bottom: 15px;
		display: block;
	}
}
.section-banner {	
	.banner {
		width: 100%;
		height: 305px;
		img {
			width: 100%;
			height: 100%;
		}
	}	
}
.section-infor {
	.no-banner {
		margin-bottom: 50px;
		margin-top: 20px;
	}
	.box {
		border-radius: 0;
		.header-box {
			padding: 0;
			height: auto;
			padding-bottom: 10px;
			border-bottom: @border;
		    line-height: initial;
			h4 {
				font-size: 14px;
				margin: 0;
				display: inline-block;
				text-transform: initial;
			}
			.add-action {
				color: @bg-color;
				cursor: pointer;
			}			
		}
		.body-box {
			.list-super {
				padding-left: 0;
				margin-top: 15px;
				li {
					background: #fff;
					position: relative;
					padding-left: 20px;
					p {
						color: @text-color-3;
					}
					&:before {
					    content: "\f02e";
				        font: normal normal normal 14px/1 FontAwesome;
				        width: 20px;
				        height: 20px;
				        display: inline-block;
				        position: absolute;
				        top: 3px;
				        left: 0;
				        color: @text-color-3;
					}
					.pull-right {
						position: absolute;
						top: 0;
						right: 0;
						i {
							cursor: pointer;
						}
						.action-delete {
							color: @bg-color;
							margin-right: 5px;
						}
						.action-update {
							color: @primary-color;
						}
					}
				}
			}
			.city {
				.title-city {
					font-size: 14px;
					color: @primary-color;
					margin: 0;
					display: inline-block;
					margin-top: 15px;
					i {
					    margin-right: 10px;
    					font-size: 15px;
					}
					span {
						border-bottom: 1px solid #bfeafb;
					}
				}
			}
		}
	}
	.col-md-6 {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.update-list {
		display: none;
		margin-top: 15px;
		height: 580px;
		.col-md-6 {
			&:first-child {
				padding: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}		
		.row {
			margin-bottom: 15px;
		}
		.main-label {
			display: block;
		}
		.row-time {
			.col-md-6 {
				margin-bottom: 10px;
				&:nth-child(even) {
					padding: 0;
				}
				&:nth-child(odd){
					padding-right: 0;
				}
				&:nth-child(5),
				&:nth-child(4) {
					margin-bottom: 0;
				}
			}
		}
	}
	.intro-supper {
		margin-top: 15px;
		.content {
			color: @text-color-3;
			line-height: 25px;
		}
		.update-content {
			display: none;
			textarea {
				width: 100%;
				resize: none;
				padding: 15px 20px;
				height: 110px;
				border: @border;
			}
		}
	}
}
/*page introduce thien hoa*/
.section-infor-listsuper {
	.box-panel {
		display: inline-block;
		width: 100%;		
		padding: 20px;
		border: none;
		label.title-box {
			display: block;
			text-decoration: underline;
			margin-bottom: 15px;
		}
		.box-img {
			height: 205px;
			margin-bottom: 30px;
			width: 100%;
			img {
				height: 100%;
				width: 100%;
			}
		}
		.box-content {
			padding: 15px 20px;
			border: @border;
			border-radius: 3px;
			display: inline-block;
			width: 100%;
			.content {
				color: @text-color-3;
				line-height: 24px;
			}
			.descrip-content {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				.list-category {
					padding-left: 0;
					color: @text-color-3;
					li {
						display: inline-block;
						width: 100%;
						padding: 7px 15px;
						position: relative;
						&:nth-child(odd){
							background: #f0fbff;
						}
						.action {
							margin-top: 0;
						}
						.col-md-1,.col-md-3,.col-md-8 {
							padding: 0;
						}
					}
					.col-md-3.name-cate {
						padding-left: 20px;
						&:before {
						    content: "\f111";
						    font: normal normal normal 14px/1 FontAwesome;
						    position: absolute;
						    top: 5px;
						    left: 0;
						    font-size: 8px;
						    display: inline-block;
						}
					}
					.col-md-8.link {
						padding-left: 30px;
						&:before {
					        content: "\f0c1";
						    font: normal normal normal 14px/1 FontAwesome;
						    position: absolute;
						    top: 3px;
						    left: 0;
						    font-size: 18px;
						    display: inline-block;
						    color: @primary-color;
						    -ms-transform: rotate(-44deg); /* IE 9 */
						    -webkit-transform: rotate(-44deg); /* Chrome, Safari, Opera */
						    transform: rotate(-44deg);
						}
						a {
							text-decoration: underline;
							color: @text-color-1;
							&:hover {
								color: @primary-color;
							}
						}
					}
					.col-md-1.text-right {
						.action-delete {
							margin-right: 10px;
							color: @bg-color;
						}
					}
				}
			}
		}
		.box-update,
		.box-add {
			padding: 15px 20px;
			border: @border;
			border-radius: 3px;
			width: 100%;
			.action {
				display: block;
				margin-bottom: 10px;
			}
			img {
				height: 205px;
				width: 100%;
			}
		}
	}
	.update-content {
		display: inline-block;
		width: 100%;
		label.title-box {
			margin-top: 20px;
		}
		label.title-short {
			margin-top: 0;
		}
		textarea {
			width: 100%;
			resize: none;
			padding: 15px 20px;
			height: 110px;
			border: @border;
		}
		.col-md-4 {
			&:first-child {
				padding-left: 0;
			}
		}
		.add-action {
			position: relative;
			top: 32px;
			text-decoration: underline;
			color: @bg-color;
			font-weight: bold;
		}
	}
	.box-update,
	.box-add {
		display: none;
	}
}
.no-padding {
	.update-content {
		label.title-box {
			margin-top: 0;
		}
	}
}
.section-infor-listsuper {
	.box-line {
		.box-update {
			.action {
				display: inline-block;
			    margin-top: 20px;
			    width: 100%;
			    padding-top: 15px;
			    border-top: @border;
			}
		}
		.box-img {
			margin-bottom: 0;
		}
	}
}

/*page tra gop*/
.list-logo {
	display: inline-block;
	padding-left: 0;
	li {
		float: left;
		width: 140px;
		height: 140px;
		border: 1px solid @primary-color;
		border-radius: 2px;
		margin-right: 15px;
		text-align: center;
		position: relative;
		img {
			.img;
		}
	}
}
.infor-tragop {
	.upcase {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	ul {
		li {
			position: relative;
			&:before {
				content: '-';
				position: absolute;
				top: 0;
				left: -10px;
			}
		}
	}
}
