i.active {
	display: inline-block !important;
}
.icon-edit-pen {
	height: 15px;
	width: 15px;
    margin-right: 8px;
	margin-left: 6px;
	position: relative;
	top: 2px;
	display: none !important;
	cursor: pointer;
	background: url('../images/upload/account/icon-edit.png')no-repeat;
}
.icon-edit-pen-hover {
	display: none;
	height: 15px;
	width: 15px;
    margin-right: 8px;
	margin-left: 6px;
	cursor: pointer;
	background: url('../images/upload/account/icon-edit-hover.png')no-repeat;
}
.icon-list {
	width: 14px;
	height: 14px;
	cursor: pointer;
	display: none;
	background: url('../images/upload/icon-list.png')no-repeat;
}
.icon-list-hover {
	display: none;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background: url('../images/upload/icon-list-hover.png')no-repeat;
}
.icon-delete {
	width: 14px;
	height: 18px;
	display: none;
	cursor: pointer;
	top: 3px;
    position: relative;
	background: url('../images/upload/account/icon-delete.png')no-repeat;
}
.icon-delete-hover {
	display: none;
	width: 14px;
	height: 18px;
	cursor: pointer;
/*	top: 3px;
    position: relative;*/
	background: url('../images/upload/account/icon-delete-hover.png')no-repeat;
}
.icon_edit {
    height: 15px;
    width: 15px;
    margin-right: 8px;
    margin-left: 6px;
    position: relative;
    top: 2px;
    display: inline-block;
    cursor: pointer;
    background: url(../images/upload/account/icon-edit.png) no-repeat;
}