{% extends "layout/_layout-1.html" %}
{% block page-container %}
  <section>
	<div class="wrap-login">
		<div class="wrap_form_login">
		  <a class="logo" href="#">
			  <img src="assets/images/logo-login.png" alt="logo">
		  </a>
		  <p class="title-login">ĐĂNG NHẬP HỆ THỐNG QUẢN TRỊ THIÊN HÒA</p>
		  <form class="form_login">
			  <div class="form-content">
				 <div class="form-group">
					 <label>Tên đăng nhập</label>
					 <div class="row">
						<p class="error">Tên đăng nhập chưa đúng</p>
						<input class="ip_text" type="text" placeholder="Vd: cindy.duong">
					 </div>
				 </div> 
				 <div class="form-group">
					 <label>Mật khẩu</label>
					 <div class="row">
						<p class="error">Mật khẩu chưa đúng</p>
						<input class="ip_text" type="password" placeholder="">
					 </div>
				 </div>
				 <div class="form-group">
					 <label>Nhập mã xác thực</label>
					 <div class="row">
					  <div class="col-md-8">
						<p class="error">Mã xác thực chưa đúng</p>
						<input class="ip_text" type="text" placeholder="">
					  </div>
					  <div class="col-md-4">
						<img src="assets/images/code.png">
					  </div>
					 </div>
				 </div>
				 <button class="btn_login" type="button" value="">Đăng nhập</button> 
			  </div>
		  </form>
	  </div>
	  <div class="footer-login">
		<p>Được tạo ra bằng cả <i class="fa fa-heart" aria-hidden="true"></i> bởi Thien Hoa Online team</p>
	  </div>
	</div>
	<!-- loading -->
    <div class="wrap-loader">
      <div id="container">
        <div id="loader"></div>  
      </div>
    </div>  
  </section>
  
{% endblock %}
