{% set current_page = 'change-password' %}
{% extends "layout/_layout.html" %}
{% block page-content %}
<section class="col-md-">
    <div class="wrap_password ">
      <p class="note">Những ô có dấu <span>(*)</span> là những ô bắt buộc nhập thông tin</p>
        <form class="form_change_pass">
           <div class="row">
              <label class="col-md-4">Mật khẩu cũ <span>*</span></label>
              <!-- <p class="error">Mật khẩu cũ chưa đúng</p> -->
              <input class="ip_text col-md-8" type="password" placeholder="">
           </div>
             <div class="row">
                <label class="col-md-4">Mật khẩu mới <span>*</span></label>
                <input class="ip_text col-md-8" type="password" placeholder="Tối thiểu 8 kí tự">
             </div>
             <div class="row">
                <label class="col-md-4">Nhập lại mật khẩu mới <span>*</span></label>
                <!-- <p class="error">Mật khẩu nhập lại chưa đúng</p> -->
                <input class="ip_text col-md-8" type="password" placeholder="">
             </div>
             <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <button class="btn_change" type="button" value="">Đổi mật khẩu</button> 
                </div>
             </div>
        </form>
    </div>
</section>
{% endblock %}
