{% set current_page = 'xemdonhang' %}
{% extends "layout/_layout.html" %}
{% block page-content %}
<div class="col-md-">
	<div class="wrap_view">
		<div class="header">
			<h2 class="title">Xem đơn hàng <span>/#1702101663</span></h2> <span class="time">- 09:51 - 10/02/2017</span>
			<ul class="top-action">
				<li><a href="#"><i class="icon icon-link">&nbsp</i> Web</a></li>
				<li><a href="#"><i class="icon icon-print">&nbsp</i> In</a></li>
				<li><a href="#"><i class="icon icon-edit">&nbsp</i> Sửa</a></li>
				<li><a href="#"><i class="icon icon-save">&nbsp</i> Lưu</a></li>
			</ul>
		</div>

		<ul class="nav nav-tabs">
			<li class="active">
	        	<a href="#1" data-toggle="tab">Thông tin chung</a>
			</li>
			<li><a href="#2" data-toggle="tab">Lịch sử đơn hàng</a>
			</li>
			<li><a href="#3" data-toggle="tab">Trạng thái giao hàng</a>
			</li>
		</ul>

		<div class="tab-content ">
			<!-- tab content 1 -->
		  	<form class="tab-pane active" id="1">
		  		<div class="top_content">
		  			<p> Đơn hàng <b>#1702101663</b> được đặt vào lúc <b>09:51 - 10/02/2017</b></p>
		  			<div class="top_right">
		  				<div class="switch_button">
			  				<label class="name">Khóa</label>
							<div class="wrapper">
							  <input type="checkbox" id="checkbox" class="slider-toggle" checked />
								<label class="slider-viewport" for="checkbox">
							  	<div class="slider">
							    	<div class="slider-button">&nbsp;</div>
							    	<div class="slider-content left"><span>On</span></div>
							    	<div class="slider-content right"><span>Off</span></div>
							  	</div>
								</label>
							</div>
			  			</div>
			  			<div class="choose_status">
			  				<label>Trạng thái đơn hàng</label>
			  				<div class="wrap_select">
								<select class="form-control">
								    <option>Đặt hàng thành công</option>
								    <option>Đang đặt hàng</option>
								    <option>Hủy</option>
								    <option>Kiểm tra đơn hàng</option>
								    <option>Chờ đặt hàng</option>
								</select>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
			  			</div>
		  			</div>
		  			
		  		</div>
		  		<div class="main_content">
		  			<div class="col-md-7">
		  				<div class="box top_detail">
		  					<div class="wrap">
		  						<div class="row">
									<div class="col-md-6">
										<div class="col-md-2">
											<div class="wrap-img">
												<img src="../assets/images/product.png" alt=""> 
											</div>
										</div>
										<div class="col-md-10">
											<a href="#">Son Môi Missha Painting Rouge - Syrup SPK02 - M5483</a>
											<p class="company">NCC: Công ty TNHH TM Thủy Lộc</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-4">
											<p>199.000₫    X    1</p>
										</div>
										<div class="col-md-3">
											<p>100gr</p>
										</div>
										<div class="col-md-4">
											<p>199.000 <sup>đ</sup></p>
										</div>
										<div class="col-md-1">
											<a href="3.3 CMS-v2-chinh-sua-don-hang.html"><i class="fa fa-pencil" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
		  					</div>
							
							<div class="wrap">
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-2">
											<div class="wrap-img">
												<img src="../assets/images/product.png" alt=""> 
											</div>
										</div>
										<div class="col-md-10">
											<a href="#">Son Môi Missha Painting Rouge - Syrup SPK02 - M5483</a>
											<p class="company">NCC: Công ty TNHH TM Thủy Lộc</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-4">
											<p>199.000₫    X    1</p>
										</div>
										<div class="col-md-3">
											<p>100gr</p>
										</div>
										<div class="col-md-4">
											<p>199.000 <sup>đ</sup></p>
										</div>
										<div class="col-md-1">
											<a href="3.3 CMS-v2-chinh-sua-don-hang.html"><i class="fa fa-pencil" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="row gift">
									<div class="col-md-7">
										<div class="col-md-2 wrap-img">
											<img src="../assets/images/gift.png" alt="">
										</div>
										<div class="col-md-10">
											<i class="fa fa-gift" aria-hidden="true"></i>
											<p>Tặng chảo không dính cao cấp Thương Hiệu Supor 24cm</p>
										</div>
									</div>
									<div class="col-md-5">
										<div class="col-md-5">
											<p>124.000đ x 1</p>
										</div>
										<div class="col-md-7">
											<p>750gr</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row gift_hight">
								<div class="content">
									<i class="fa fa-gift" aria-hidden="true"></i>
									<b>Tặng <span>voucher mua hàng</span> trị giá <span>100.000đ</span> cho đơn hàng trị giá từ <span>500.000đ</span> trở lên</b>
								</div>
							</div>
							<div class="row money">
								<p>Thành tiền: <span>199,000 <sup>đ</sup></span></p>
								<p>Phí vận chuyển và thu tiền tận nơi : <span>+61,000</span> <sup>đ</sup></p>
								<p>Giảm giá Coupon : <span>-10,000</span> <sup>đ</sup></p>
								<p><b>Tổng cộng : <span class="orange">250,000 <sup>đ</sup></span></b></p>
								<p>Khối lượng đơn hàng : <span class="orange">100gr</span></p>
								<p>Đơn hàng này được tích lũy: <span class="orange">+1990 <span>myXu</span></span></p>
							</div>
						</div>
						<div class="box box-note">
							<div class="header_box">
								<i class="icon-note-detail">&nbsp</i><b class="title"> Ghi chú đơn hàng: </b>
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<ul class="body_box">
								<li>
									<input type="radio" name="defaut" value="giao hang tieu chuan" checked>
									<div class="infor">
										<p><b>Ghi chú của khách hàng</b></p>
										<p>Vui lòng giao sản phẩm từ thứ 2 đến thứ 6 trong giờ hành chính</p>
									</div>
								</li>
								<li>
									<input type="radio" name="defaut1" value="giao hang tieu chuan" checked>
									<div class="infor">
										<p><b>Ghi chú của nhân viên</b></p>
										<p>Đã tiếp nhận thông tin đơn hàng và liên hệ xác nhận đơn hàng với khách hàng</p>
									</div>
								</li>
							</ul>
							<ul class="edit_note">
								<li>
									<label>Ghi chú của nhân viên:</label>
									<input type="text" value="Vui lòng giao sản phẩm từ thứ 2 đến thứ 6 trong giờ hành chính">
								</li>
								<li>
									<label>Ghi chú của khách hàng:</label>
									<input type="text" value="Đã tiếp nhận thông tin đơn hàng và liên hệ xác nhận đơn hàng với khách hàng">
								</li>
								<li>
									<button type="button" class="btn-save">Lưu thay đổi</button>
								</li>
							</ul>
							
						</div>
						<div class="box box-ship">
							<div class="header_box">
								<i class="icon-shipper">&nbsp</i><b class="title"> Thông tin vận chuyển: </b>
							</div>
							<div class="body_box">
								<div class="col-md-7">
									<p><b>Phương thức vận chuyển: </b> Giao hàng nhanh</p>
									<p><b>Đơn vị vận chuyển: </b> Speedlink</p>
									<p><b>Cước vận chuyển: </b> <span class="orange"> 89,000 VNĐ</span></p>
									<p><b>Mã vận chuyển: </b><span class="orange"> ZZD34T57</span></p>
								</div>
								<div class="col-md-5">
									<div class="time">
										<label>Ngày giao hàng</label>
										<input type="text" value="15/02/2017" >
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</div>
									<div class="time">
										<label>Ngày khách nhận hàng</label>
										<input type="text" value="15/02/2017" >
										<i class="fa fa-calendar" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
		  			</div>
		  			<div class="col-md-5">
		  				<div class="box box-address">
		  					<div class="header_box">
								<b class="title"> Địa chỉ giao hàng </b>
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class="body_box">
								<p><b>Người nhận:</b> Nguyễn Nhật Toàn</p>
								<p><b>Địa chỉ:</b> 241, Ấp 9, Xã Tân Lập Đông, Huyện Thới Bình, Tỉnh Cà Mau</p>
								<p><b>Điện thoại:</b>  01698948506</p>
								<p><b>Email:</b> nhattoannguyen89@gmail.com</p>
							</div>
							<div class="edit_address">
								<div class="form-group">
									<div class="col-md-2">
										<b>Người nhận:</b>
									</div>
									<div class="col-md-10">
										<input type="text" value="Nguyễn Nhật Toàn">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2">
										<b>Địa chỉ:</b>
									</div>
									<div class="col-md-10">
										<div class="wrap_select">
											<select class="form-control">
											    <option>Cà Mau</option>
											    <option>Kiên Giang</option>
											    <option>An Giang</option>
											    <option>TP Hồ Chí Minh</option>
											    <option>Hà Nội</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
										<div class="wrap_select">
											<select class="form-control">
											    <option>Huyện Bình Thới</option>
											    <option>Đang đặt hàng</option>
											    <option>Hủy</option>
											    <option>Kiểm tra đơn hàng</option>
											    <option>Chờ đặt hàng</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
										<div class="wrap_select">
											<select class="form-control">
											    <option>Xã Tân Lập Đông</option>
											    <option>Đang đặt hàng</option>
											    <option>Hủy</option>
											    <option>Kiểm tra đơn hàng</option>
											    <option>Chờ đặt hàng</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
										<input type="text" value="241, Ấp 9">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2">
										<b>Điện thoại:</b>
									</div>
									<div class="col-md-10">
										<input type="text" value="01698948506">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2">
										<b>Email:</b>
									</div>
									<div class="col-md-10">
										<input type="text" value="nhattoannguyen89@gmail.com">
									</div>
								</div>
								<button type="button" class="btn-save">Lưu thay đổi</button>
							</div>
		  				</div>
		  				<div class="box box-address">
		  					<div class="header_box">
								<b class="title"> Địa chỉ thanh toán </b>
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class="body_box">
								<p><b>Người nhận:</b> Nguyễn Nhật Toàn</p>
								<p><b>Địa chỉ:</b> 241, Ấp 9, Xã Tân Lập Đông, Huyện Thới Bình, Tỉnh Cà Mau</p>
								<p><b>Điện thoại:</b>  01698948506</p>
								<p><b>Email:</b> nhattoannguyen89@gmail.com</p>
							</div>
							<div class="edit_address">
								<div class="form-group">
									<div class="col-md-2">
										<b>Người nhận:</b>
									</div>
									<div class="col-md-10">
										<input type="text" value="Nguyễn Nhật Toàn">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2">
										<b>Địa chỉ:</b>
									</div>
									<div class="col-md-10">
										<div class="wrap_select">
											<select class="form-control">
											    <option>Cà Mau</option>
											    <option>Kiên Giang</option>
											    <option>An Giang</option>
											    <option>TP Hồ Chí Minh</option>
											    <option>Hà Nội</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
										<div class="wrap_select">
											<select class="form-control">
											    <option>Huyện Bình Thới</option>
											    <option>Đang đặt hàng</option>
											    <option>Hủy</option>
											    <option>Kiểm tra đơn hàng</option>
											    <option>Chờ đặt hàng</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
										<div class="wrap_select">
											<select class="form-control">
											    <option>Xã Tân Lập Đông</option>
											    <option>Đang đặt hàng</option>
											    <option>Hủy</option>
											    <option>Kiểm tra đơn hàng</option>
											    <option>Chờ đặt hàng</option>
											</select>
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</div>
										<input type="text" value="241, Ấp 9">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2">
										<b>Điện thoại:</b>
									</div>
									<div class="col-md-10">
										<input type="text" value="01698948506">
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-2">
										<b>Email:</b>
									</div>
									<div class="col-md-10">
										<input type="text" value="nhattoannguyen89@gmail.com">
									</div>
								</div>
								<button type="button" class="btn-save">Lưu thay đổi</button>
							</div>
		  				</div>
		  				<div class="box box_coupon">
		  					<label>Áp dụng mã Coupon giám giá</label>
		  					<input type="text" value="MUASAM1402">
		  				</div>
		  				<div class="box box_method">
		  					<div class="header_box">
								<i class="icon-method">&nbsp</i>
								<div class="infor">
									<p><b class="title"> Phương thức thanh toán: </b></p>
									<p>Thanh toán khi giao hàng (COD)</p>
								</div>
							</div>
							<div class="body_box">
								<p><b>Số tiền thanh toán: </b>N/A</p>
								<p><b>Tình trạng xuất VAT: </b> Chưa xuất VAT</p>
							</div>
		  				</div>
		  				<button type="button" class="btn_save"> Lưu đơn hàng</button>
		  				<button type="button" class="btn_save btn_lock_edit"> Lưu đơn hàng</button>
		  			</div>
		  		</div>
			</form>
			<!-- tab content 2 -->
			<div class="tab-pane" id="2">
	            <ol class="progress-track">
				  <li class="progress-done">
				    <center>
				      <div class="icon-wrap">
				    	<i class="fa fa-check" aria-hidden="true"></i>
				        <svg class="icon-state icon-check-mark">
				          <use xlink:href="#icon-check-mark"></use>
				        </svg>

				        <svg class="icon-state icon-down-arrow">

				          <use xlink:href="#icon-down-arrow"></use>
				        </svg>
				      </div>
				      <div class="progress-text">
				      	<p>Đặt hàng thành công</p>
				      	<p class="time"> (10:47 SA - 14/09/2016)</p>
				      </div>
				    </center>
				  </li>

				  <li class="progress-done ">
				    <center>
				      <div class="icon-wrap">
				      	<i class="fa fa-check" aria-hidden="true"></i>
				        <svg class="icon-state icon-check-mark">
				          <use xlink:href="#icon-check-mark"></use>
				        </svg>

				        <svg class="icon-state icon-down-arrow">
				          <use xlink:href="#icon-down-arrow"></use>
				        </svg>
				      </div>
				      <div class="progress-text">
				      	<p>Xác nhận đơn hàng</p>
				      	<p class="time"> (10:47 SA - 14/09/2016)</p>
				      </div>
				    </center>
				  </li>

				  <li class="progress-done progress-current">
				    <center>
				      <div class="icon-wrap">
				      	<i class="fa fa-check" aria-hidden="true"></i>
				        <svg class="icon-state icon-check-mark">
				          <use xlink:href="#icon-check-mark"></use>
				        </svg>

				        <svg class="icon-state icon-down-arrow">
				          <use xlink:href="#icon-down-arrow"></use>
				        </svg>
				      </div>
				      <div class="progress-text">
				      	<p>Vận chuyển - Giao hàng</p>
				      	<p class="time"> (10:47 SA - 14/09/2016)</p>
				      </div>
				    </center>
				  </li>

				  <li class="progress-todo">
				    <center>
				      <div class="icon-wrap">
				      	<i class="fa fa-check" aria-hidden="true"></i>
				        <svg class="icon-state icon-check-mark">
				          <use xlink:href="#icon-check-mark"></use>
				        </svg>

				        <svg class="icon-state icon-down-arrow">
				          <use xlink:href="#icon-down-arrow"></use>
				        </svg>
				      </div>
				      <div class="progress-text">
				      	<p>Giao hàng thành công</p>
				      </div>
				    </center>
				  </li>

				</ol>
				<!-- table display list -->
				<div class="table_history">
					<div class="header_table">
						<div class="row">
							<div class="col-md-6">
								<div class=" col-md-6">Thời gian</div>
								<div class=" col-md-3">User</div>
								<div class=" col-md-3">Thao tác</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Chi tiết</div>
								<div class=" col-md-3">Tổng tiền đơn hàng</div>
							</div>
						</div>
					</div>
					<ul class="body_table">
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">04:15 CH - 15/09/2016</div>
								<div class=" col-md-3">Quantium</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đang giao hàng -> Đang giao hàng</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">03:31 CH - 15/09/2016</div>
								<div class=" col-md-3">Quantium</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Hẹn giao hàng (bởi Quantium) -> Đang giao hàng</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">Quantium</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đang giao hàng -> Hẹn giao hàng (bởi Quantium)</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">Quantium</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đang giao hàng -> Đang giao hàng</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">Quantium</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đã đóng gói -> Đang giao hàng</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">Quantium</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đã xác nhận -> Đã đóng gói</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">amelia.huyen</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đang chuẩn bị hàng (Thiếu hàng) -> Đã xác nhận</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">Nguyễn Nhật Toàn</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đặt hàng thành công -> Đang chuẩn bị hàng (Thiếu hàng)</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>
						<li class="row">
							<div class="col-md-6">
								<div class=" col-md-6">12:41 SA - 15/09/2016</div>
								<div class=" col-md-3">Nguyễn Nhật Toàn</div>
								<div class=" col-md-3">Sửa đơn hàng</div>
							</div>
							<div class="col-md-6">
								<div class=" col-md-9">Đặt hàng thành công</div>
								<div class=" col-md-3">260.000đ</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<!-- tab content 3 -->
	        <div class="tab-pane" id="3">
			</div>
		</div>
		
	</div>
</div>

