{% set current_page = 'thienhoa-tragop' %}
{% extends "layout/_layout.html" %}
{% block page-content %}
<div class="col-md-">
    <section class="section section-banner BannerAct">
        <h3 class="title-section">Giới thiệu công ty</h3>
        <div class="panel box-panel Panel">
            <div class="top">
                <h3 class="title">Banner giới thiệu</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="banner banner-display DisplayData" style="display: none;">
                <img src="assets/images/banner-tragop.png" alt="banner">
            </div>
            <div class="banner-update UpdateData">
                <div class="col-md-9">
                    <img src="assets/images/banner-tragop.png" alt="banner">
                </div>
                <div class="col-md-3">
                    <ul class="wrap_btn">
                        <li>
                            <a href="#" class="btn-loadfile">
                                <i class="icon-browser">&nbsp;</i>
                                <span>Browse ...</span>
                                <input type="file" name="newfile">
                            </a>
                        </li>
                    </ul>
                    <div class="show_file">
                        <span class="file_name"></span>
                    </div>
                    <span class="size-note">Kích thước 900 x 300 px</span>
                    <label>Link banner</label>
                    <input type="text" name="" class="form-control" placeholder="Nhập link banner">
                    <label class="error">Nhập link banner</label>
                    <div class="action pull-right">
                        <span class="cancel Cancel">Hủy bỏ</span>
                        <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                    </div>
                </div>
            </div>
            <div class="banner-update AddData">
                <div class="col-md-9">
                    <img src="assets/images/banner-tragop.png" alt="banner">
                </div>
                <div class="col-md-3">
                    <ul class="wrap_btn">
                        <li>
                            <a href="#" class="btn-loadfile">
                                <i class="icon-browser">&nbsp;</i>
                                <span>Browse ...</span>
                                <input type="file" name="newfile">
                            </a>
                        </li>
                    </ul>
                    <div class="show_file">
                        <span class="file_name"></span>
                    </div>
                    <span class="size-note">Kích thước 900 x 300 px</span>
                    <label>Link banner</label>
                    <input type="text" name="" class="form-control" placeholder="Nhập link banner">
                    <label class="error">Nhạp link banner</label>
                    <div class="action pull-right">
                        <span class="cancel Cancel">Hủy bỏ</span>
                        <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                    </div>
                </div>
            </div>
            <div class="no-banner NoData">
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
    </section>
    <section class="section section-infor-listsuper ActionList">
        <div class="panel box-panel Panel">
            <div class="top">
                <h3 class="title">Logo ngân hàng, đối tác</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="box-content box-display DisplayData" style="display: none;"> 
                <div class="list-bank">
                    <label class="title-box">Logo ngân hàng</label>  
                    <ul class="list-logo">
                        <li><img src="assets/images/logo/logo1.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo2.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo3.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo4.png" alt="logo"></li>
                    </ul> 
                </div>
                <div class="list-partner">
                    <label class="title-box">Logo đối tác</label>  
                    <ul class="list-logo">
                        <li><img src="assets/images/logo/logo5.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo6.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo7.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo8.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo9.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo10.png" alt="logo"></li>
                    </ul> 
                </div>
            </div>
            <div class="box-update UpdateData">
                <div class="part_create">
                    <h3 class="title_supplier">Hình ảnh sản phẩm</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Logo ngân hàng</b></p>
                            <div class="image-upload">
                                <label for="file-input">
                                    <img id="blah" src="assets/images/img_upload.png" alt="your image">
                                    <div class="wrap-bg" style="display: none;">
                                        <img class="display " src="assets/images/icon-camera.png" alt="your image" >
                                    </div>
                                    <input id="file-input" type="file" onchange="readURL1(this);">
                                </label>
                            </div>
                            <div class="infor-img">
                                <label>Link banner</label>
                                <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                                <label class="error">Nhập link banner</label>
                                <span>Kích thước: <b>250 x 250 px</b></span>
                                <div class="action">
                                    <button type="button" class="btn button-update">Thêm</button>
                                </div>
                            </div>  
                        </div>
                        <div class="col-md-8">
                            <div class="wrap_images image-upload">
                                <output id="list">
                                    <span><img src="assets/images/logo/logo1.png"></span>
                                    <span><img src="assets/images/logo/logo2.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                </output>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Logo đối tác</b></p>
                            <div class="image-upload">
                                <label for="file-input">
                                    <img id="blah1" src="assets/images/img_upload.png" alt="your image">
                                    <div class="wrap-bg" style="display: none;">
                                        <img class="display " src="assets/images/icon-camera.png" alt="your image" >
                                    </div>
                                    <input id="file-input" type="file" onchange="readURL(this);">
                                </label>
                            </div>
                            <div class="infor-img">
                                <label>Link banner</label>
                                <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                                <label class="error">Nhập link banner</label>
                                <span>Kích thước: <b>250 x 250 px</b></span>
                                <div class="action">
                                    <button type="button" class="btn button-update">Thêm</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="wrap_images image-upload">
                                <output id="list">
                                    <span><img src="assets/images/logo/logo1.png"></span>
                                    <span><img src="assets/images/logo/logo2.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                </output>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                </div>
            </div>
            <div class="box-update AddData">
                <div class="part_create">
                    <h3 class="title_supplier">Hình ảnh sản phẩm</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Logo ngân hàng</b></p>
                            <div class="image-upload">
                                <label for="file-input">
                                    <img id="blah" src="assets/images/img_upload.png" alt="your image">
                                    <div class="wrap-bg" style="display: none;">
                                        <img class="display " src="assets/images/icon-camera.png" alt="your image" >
                                    </div>
                                    <input id="file-input" type="file" onchange="readURL1(this);">
                                </label>
                            </div>
                            <div class="infor-img">
                                <label>Link banner</label>
                                <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                                <label class="error">Nhập link banner</label>
                                <span>Kích thước: <b>250 x 250 px</b></span>
                                <div class="action">
                                    <button type="button" class="btn button-update">Thêm</button>
                                </div>
                            </div>  
                        </div>
                        <div class="col-md-8">
                            <div class="wrap_images image-upload">
                                <output id="list">
                                    <span><img src="assets/images/logo/logo1.png"></span>
                                    <span><img src="assets/images/logo/logo2.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                </output>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Logo đối tác</b></p>
                            <div class="image-upload">
                                <label for="file-input">
                                    <img id="blah1" src="assets/images/img_upload.png" alt="your image">
                                    <div class="wrap-bg" style="display: none;">
                                        <img class="display " src="assets/images/icon-camera.png" alt="your image" >
                                    </div>
                                    <input id="file-input" type="file" onchange="readURL(this);">
                                </label>
                            </div>
                            <div class="infor-img">
                                <label>Link banner</label>
                                <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                                <label class="error">Nhập link banner</label>
                                <span>Kích thước: <b>250 x 250 px</b></span>
                                <div class="action">
                                    <button type="button" class="btn button-update">Thêm</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="wrap_images image-upload">
                                <output id="list">
                                    <span><img src="assets/images/logo/logo1.png"></span>
                                    <span><img src="assets/images/logo/logo2.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                </output>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                </div>
            </div>
            <div class="no-banner NoData">
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
        <!-- end box pannel -->
        <div class="panel box-panel no-padding Panel">
            <div class="top">
                <h3 class="title">Giới thiệu chương trình trả góp</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="box-content box-display infor-tragop DisplayData" style="display: none;">
                <div class="scrollbar">
                    <label class="title-box">Thông tin về chương trình trả góp</label>
                    <div class="content">
                        <p class="upcase">Quyền lợi chương trình:</p>
                        <ul>
                            <li>Được mua hàng trả góp lãi suất 0%.</li>
                            <li>Không phải thanh toán thêm khoản phí nào.</li>
                            <li>Được tư vấn mở thẻ tín dụng quốc tế HSBC.</li>
                            <li>Sản phẩm chương trình: áp dụng cho tất cả các mặt hàng đang kinh doanh  tại Thiên Hòa.</li>
                        </ul>  
                        <p class="upcase">Điều kiện chương trình:</p>
                        <ul>
                            <li>Kỳ hạn trả góp: có 4 kỳ hạn bao gồm 03 tháng, 06 tháng, 09 tháng hoặc 12 tháng.</li>
                            <li>Áp dụng cho hóa đơn từ 4.000.000 VND trở lên.</li>
                            <li>Khách hàng mua online vẫn có thể tham gia chương trình.</li>
                            <li>Khách mua hàng trả góp lãi suất 0% sẽ không được áp dụng đồng thời với chính sách giảm giá cho chủ thẻ Thiên hòa (thẻ Thành viên , thẻ Vàng, thẻ Bạch Kim).</li>
                            <li>Khách mua hàng trả góp lãi suất 0% không được trả hàng và chỉ được đổi hàng với giá trị bằng hoặc lớn hơn giá trị trả góp ban đầu.</li>
                        </ul> 
                        <p class="upcase">Cách thức trả góp:</p> 
                        <ul>
                            <li>Kỳ hạn trả góp: có 4 kỳ hạn bao gồm 03 tháng, 06 tháng, 09 tháng hoặc 12 tháng.</li>
                            <li>Áp dụng cho hóa đơn từ 4.000.000 VND trở lên.</li>
                            <li>Khách hàng mua online vẫn có thể tham gia chương trình.</li>
                            <li>Khách mua hàng trả góp lãi suất 0% sẽ không được áp dụng đồng thời với chính sách giảm giá cho chủ thẻ Thiên hòa (thẻ Thành viên , thẻ Vàng, thẻ Bạch Kim).</li>
                            <li>Khách mua hàng trả góp lãi suất 0% không được trả hàng và chỉ được đổi hàng với giá trị bằng hoặc lớn hơn giá trị trả góp ban đầu.</li>
                        </ul> 
                    </div>
                </div>              
            </div>
            <div class="box-update UpdateData">
                <div class="update-content">
                    <label class="title-box">Mô tả ngắn</label>
                    <textarea placeholder="Nhập thông tin mô tả" rows="5" cols="20"></textarea>
                    <label class="error">Vui lòng nhập thông tin mô tả</label>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                </div>
            </div>
            <div class="box-update AddData">
                <div class="update-content">
                    <label class="title-box">Mô tả ngắn</label>
                    <textarea placeholder="Nhập thông tin mô tả" rows="5" cols="20"></textarea>
                    <label class="error">Vui lòng nhập thông tin mô tả</label>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                </div>
            </div>
            <div class="no-banner NoData" >
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
        <!-- end box pannel -->
        <div class="panel box-panel box-line Panel">
            <div class="top">
                <h3 class="title">Quy trình mua hàng trả góp</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="box-content box-display DisplayData" style="display: none;">
                <label class="title-box">Banner</label>
                <div class="box-img">
                    <img src="assets/images/banner-tragop-2.png">
                </div>                
            </div>
            <div class="box-update UpdateData" >
                <div class="update-banner">
                    <div class="col-md-9">
                        <img src="assets/images/banner-tragop-2.png" alt="banner">
                    </div>
                    <div class="col-md-3">
                        <ul class="wrap_btn">
                            <li>
                                <a href="#" class="btn-loadfile">
                                    <i class="icon-browser">&nbsp;</i>
                                    <span>Browse ...</span>
                                    <input type="file" name="newfile">
                                </a>
                            </li>
                        </ul>
                        <div class="show_file">
                            <span class="file_name"></span>
                        </div>                    
                        <span class="size-note">Kích thước: <b>900 x 300 px</b></span>
                        <span class="size-note">Dung lượng: <b>500kb</b></span>
                        <span class="size-note">Định dạng: <b>jpg, png</b></span>
                        <label>Link banner</label>
                        <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                        <label class="error">Nhập link banner</label>                    
                    </div>
                </div>                
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                </div>
            </div>
            <div class="box-update AddData" >
                <div class="update-banner">
                    <div class="col-md-9">
                        <img src="assets/images/banner-tragop-2.png" alt="banner">
                    </div>
                    <div class="col-md-3">
                        <ul class="wrap_btn">
                            <li>
                                <a href="#" class="btn-loadfile">
                                    <i class="icon-browser">&nbsp;</i>
                                    <span>Browse ...</span>
                                    <input type="file" name="newfile">
                                </a>
                            </li>
                        </ul>
                        <div class="show_file">
                            <span class="file_name"></span>
                        </div>                    
                        <span class="size-note">Kích thước: <b>900 x 300 px</b></span>
                        <span class="size-note">Dung lượng: <b>500kb</b></span>
                        <span class="size-note">Định dạng: <b>jpg, png</b></span>
                        <label>Link banner</label>
                        <input type="text" name="" class="form-control" placeholder="Nhập link banner">  
                        <label class="error">Vui lòng nhập link banner</label>                   
                    </div>
                </div>                
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                </div>
            </div>
            <div class="no-banner NoData">
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
        <!-- end box pannel -->
        <div class="panel box-panel no-padding Panel">
            <div class="top">
                <h3 class="title">ngành hàng áp dụng trả góp</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="box-content box-display DisplayData" style="display: none;">
                <div class="descrip-content">
                    <label class="title-box">Ngành hàng kinh doanh</label>
                    <ul class="list-category">
                        {% for x in [1,2,3,4,5] %}
                        <li>
                            <div class="col-md-3 name-cate">Nội thất</div>
                            <div class="col-md-8 link"><a href="#" title="www.dienmaythienhoa.vn/nganhhang/noi-that">www.dienmaythienhoa.vn/nganhhang/noi-that</a></div>
                            <div class="col-md-1 text-right pull-right">
                                <a class="tooltip" data-toggle="modal" data-target=".DeleteModal">
                                    <i class="fa fa-times action-delete" aria-hidden="true"></i>
                                    <span class="tooltiptext">Xóa</span>
                                </a>
                                <a class="tooltip">
                                    <i class="fa fa-pencil-square-o action-update" aria-hidden="true"></i>
                                    <span class="tooltiptext">Cập nhật</span>
                                </a>                                            
                            </div>
                        </li>
                        {% endfor %} 
                    </ul>
                </div>                
            </div>
            <div class="box-update UpdateData">
                <div class="update-content">
                    <label class="title-box">Ngành hàng kinh doanh</label>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tên ngành hàng</label>
                            <input type="text" name="" class="form-control" placeholder="Nhập tên ngành hàng">
                            <label class="error">Vui lòng nhập tên ngành hàng</label>
                        </div>
                        <div class="col-md-4">
                            <label>Link ngành hàng</label>
                            <input type="text" name="" class="form-control" placeholder="Nhập link ngành hàng">
                            <label class="error">Vui lòng nhập link ngành hàng</label>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="add-action"><i class="fa fa-plus" aria-hidden="true"></i> Thêm ngành hàng</a>
                        </div>
                    </div>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                </div>
            </div>
            <div class="box-update AddData">
                <div class="update-content">
                    <label class="title-box">Ngành hàng kinh doanh</label>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tên ngành hàng</label>
                            <input type="text" name="" class="form-control" placeholder="Nhập tên ngành hàng">
                            <label class="error">Vui lòng nhập tên ngành hàng</label>
                        </div>
                        <div class="col-md-4">
                            <label>Link ngành hàng</label>
                            <input type="text" name="" class="form-control" placeholder="Nhập link ngành hàng">
                            <label class="error">Vui lòng nhập link ngành hàng</label>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="add-action"><i class="fa fa-plus" aria-hidden="true"></i> Thêm ngành hàng</a>
                        </div>
                    </div>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                </div>
            </div>
            <div class="no-banner NoData">
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
    </section>
</div>
{% include "block/_modal-success.html" %}
{% include "block/_modal-delete.html" %}
{% include "block/_modal-add-success.html" %}
{% endblock %}
