{% set current_page = 'sale-b2b' %}
{% extends "layout/_layout.html" %}
{% block page-content %}
<div class="col-md-">
    <section class="section section-banner BannerAct">
        <h3 class="title-section">Bán hàng b2b</h3>
        <div class="panel box-panel Panel">
            <div class="top">
                <h3 class="title">Banner giới thiệu</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="banner banner-display DisplayData" style="display: none;">
                <img src="assets/images/banner-b2b.png" alt="banner">
            </div>
            <div class="banner-update UpdateData">
                <div class="col-md-9">
                    <img src="assets/images/banner-b2b.png" alt="banner">
                </div>
                <div class="col-md-3">
                    <ul class="wrap_btn">
                        <li>
                            <a href="#" class="btn-loadfile">
                                <i class="icon-browser">&nbsp;</i>
                                <span>Browse ...</span>
                                <input type="file" name="newfile">
                            </a>
                        </li>
                    </ul>
                    <div class="show_file">
                        <span class="file_name"></span>
                    </div>
                    <span class="size-note">Kích thước 900 x 300 px</span>
                    <label>Link banner</label>
                    <input type="text" name="" class="form-control" placeholder="Nhập link banner">
                    <label class="error">Nhập link banner</label>
                    <div class="action pull-right">
                        <span class="cancel Cancel">Hủy bỏ</span>
                        <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                    </div>
                </div>
            </div>
            <div class="banner-update AddData">
                <div class="col-md-9">
                    <img src="assets/images/banner-b2b.png" alt="banner">
                </div>
                <div class="col-md-3">
                    <ul class="wrap_btn">
                        <li>
                            <a href="#" class="btn-loadfile">
                                <i class="icon-browser">&nbsp;</i>
                                <span>Browse ...</span>
                                <input type="file" name="newfile">
                            </a>
                        </li>
                    </ul>
                    <div class="show_file">
                        <span class="file_name"></span>
                    </div>
                    <span class="size-note">Kích thước 900 x 300 px</span>
                    <label>Link banner</label>
                    <input type="text" name="" class="form-control" placeholder="Nhập link banner">
                    <label class="error">Nhập link banner</label>
                    <div class="action pull-right">
                        <span class="cancel Cancel">Hủy bỏ</span>
                        <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                    </div>
                </div>
            </div>
            <div class="no-banner NoData">
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
    </section>
    <section class="section section-infor-listsuper ActionList">
        <!-- end box pannel -->
        <div class="panel box-panel Panel">
            <div class="top">
                <h3 class="title">Giới thiệu chương trình bán hàng b2b</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="box-content box-display DisplayData" style="display: none;">
                <div class="descrip-content">
                    <label class="title-box">Giới thiệu chương trình</label>
                    <div class="content">Thiên Hòa khẳng định tên tuổi và uy tín của mình thông qua việc tổ chức hệ thống bán lẻ các sản phẩm điện máy, gia dụng, nội thất cao cấp với một mô hình bán lẻ hiện đại và tiên tiến nhất hiện nay. Sáu ngành hàng chủ lực được kinh doanh bao gồm: Điện tử, Điện lạnh, Điện Gia Dụng, Công nghệ thông tin - Kỹ thuật số, Viễn thông – Thiết Bị Văn Phòng, Nội Thất cao cấp, với hơn 80.000 sản phẩm chính hãng của các thương hiệu hàng đầu thế giới như: Sony, Toshiba, LG, Panasonic, Samsung, Sharp, Sanyo, Toshiba, Elextrolux, Deawoo, Fujiyama, Canon, Nokia, HP, Black&White, Hitachi, Philips, TCL, Acer, JVC, Reetech,… 
                    Thiên Hòa luôn được tín nhiệm là đại diện hàng đầu Việt Nam được các tập đoàn điện tử hàng đầu thế giới ưu tiên ủy quyền trực tiếp tổ chức địa điểm trưng bày, giới thiệu, ra mắt những sản phẩm, công nghệ mới nhất, các chương trình ưu đãi mua sắm cho người tiêu dùng.</div>
                </div>
            </div>
            <div class="box-update UpdateData">
                <div class="update-content">
                    <label class="title-box title-short">Giới thiệu chương trình</label>
                    <textarea placeholder="Nhập thông tin mô tả" rows="5" cols="20"></textarea>
                    <label class="error">Vui lòng nhập thông tin mô tả</label>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                </div>
            </div>
            <div class="box-add AddData">
                <div class="update-content">
                    <label class="title-box title-short">Giới thiệu chương trình</label>
                    <textarea placeholder="Nhập thông tin mô tả" rows="5" cols="20"></textarea>
                    <label class="error">Vui lòng nhập thông tin mô tả</label>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                </div>
            </div>
            <div class="no-banner NoData" >
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
        <div class="panel box-panel Panel">
            <div class="top">
                <h3 class="title">Logo doanh nghiệp bán hàng b2b</h3>
                <a class="pull-right update-action UpdateAction" style="display: none;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>Cập nhật</span>
                </a>
            </div>
            <div class="box-content box-display DisplayData" style="display: none;">
                <div class="list-bank">
                    <label class="title-box">Logo doanh nghiệp</label>  
                    <ul class="list-logo">
                        <li><img src="assets/images/logo/logo11.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo12.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo13.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo14.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo15.png" alt="logo"></li>
                        <li><img src="assets/images/logo/logo16.png" alt="logo"></li>
                    </ul> 
                </div>
            </div>
            <div class="box-update UpdateData">
                <div class="part_create">
                    <h3 class="title_supplier">Hình ảnh sản phẩm</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Logo doanh nghiệp</b></p>
                            <div class="image-upload">
                                <div class="image-upload">
                                    <label for="file-input">
                                        <img id="blah" src="assets/images/img_upload.png" alt="your image">
                                        <div class="wrap-bg" style="display: none;">
                                            <img class="display " src="assets/images/icon-camera.png" alt="your image" >
                                        </div>
                                        <input id="file-input" type="file" onchange="readURL1(this);">
                                    </label>
                                </div>
                            </div>
                            <div class="infor-img">
                                <label>Link banner</label>
                                <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                                <label class="error">Nhập link banner</label>
                                <label class="error">Nhập link banner</label>
                                <span>Kích thước: <b>250 x 250 px</b></span>
                                <div class="action">
                                    <button type="button" class="btn button-update">Thêm</button>
                                </div>
                            </div>  
                        </div>
                        <div class="col-md-8">
                            <div class="wrap_images image-upload">
                                <output id="list">
                                    <span><img src="assets/images/logo/logo1.png"></span>
                                    <span><img src="assets/images/logo/logo2.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                </output>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
                </div>
            </div>
            <div class="box-add AddData">
                <div class="part_create">
                    <h3 class="title_supplier">Hình ảnh sản phẩm</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Logo doanh nghiệp</b></p>
                            <div class="image-upload">
                                <div class="image-upload">
                                    <label for="file-input">
                                        <img id="blah1" src="assets/images/img_upload.png" alt="your image">
                                        <div class="wrap-bg" style="display: none;">
                                            <img class="display " src="assets/images/icon-camera.png" alt="your image" >
                                        </div>
                                        <input id="file-input" type="file" onchange="readURL(this);">
                                    </label>
                                </div>
                            </div>
                            <div class="infor-img">
                                <label>Link banner</label>
                                <input type="text" name="" class="form-control" placeholder="Nhập link banner"> 
                                <label class="error">Nhập link banner</label>
                                <span>Kích thước: <b>250 x 250 px</b></span>
                                <div class="action">
                                    <button type="button" class="btn button-update">Thêm</button>
                                </div>
                            </div>  
                        </div>
                        <div class="col-md-8">
                            <div class="wrap_images image-upload">
                                <output id="list">
                                    <span><img src="assets/images/logo/logo1.png"></span>
                                    <span><img src="assets/images/logo/logo2.png"></span>
                                    <span><img src="assets/images/logo/logo3.png"></span>
                                    <span><img src="assets/images/logo/logo4.png"></span>
                                </output>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action text-right">
                    <span class="cancel Cancel">Hủy bỏ</span>
                    <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
                </div>
            </div>
            <div class="no-banner NoData">
                <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
                <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
        <!-- end box pannel -->
    </section>
</div>
{% include "block/_modal-success.html" %}
{% include "block/_modal-delete.html" %}
{% include "block/_modal-add-success.html" %}
{% endblock %}
