{% set current_page = 'xemdonhang' %}
{% extends "layout/_layout.html" %}
{% block page-content %}
<div class="col-md-">
	<div class="wrap_view">
		<div class="header">
			<h2 class="title">Yêu cầu hỗ trợ</h2>
		</div>
		<section class="search_box">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label>Mã đơn hàng</label>
						<input type="text" placeholder="Nhập mã đơn hàng">
						<span class="error">Nhập mã đơn hàng</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Tên khách hàng</label>
						<input type="text" placeholder="Vd: Nguyễn Thị Thu Hằng">
						<span class="error">Nhập mã tên khách hàng</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<button type="button" class="btn_edit">Tìm kiếm</button>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</section>
		<section class="commend">
			<div class="title">
				<i class="icon_commend">&nbsp</i>
				<h3>Thảo luận</h3>
			</div>
			<ul class="list_commend">
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>hoanghieu90qn</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>Do mình nhầm lẫn nên đã đặt mua nhầm sản phẩm này. Xin phép được hủy đơn hàng và thành thật xin lỗi cho sự bất tiện này.</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
			            <div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>Trần Thị Kim Xuân</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>Nguyễn Thanh Nam</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>Lê Thị Hồng Quyên</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>tuananhnhattran1980</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>hoanghieu90qn</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>sunny2010@gmail.com</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>Bạch Thị Thu Hà</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>Nguyễn Quang Quy</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
				<li class="relevant">
					<div class="block_commend">
						<p class="name"><b>Mộc Quế Anh</b> <span class="time">-  01:22 CH - 12/12/2016</span></p>
						<p>em đặt hàng có áp dụng mã giảm giá là MCdcfecea nhưng sau khi chọn thanh toán qua thẻ Visa/ Master thì hệ thống báo lỗi. Nhờ anh chị kiểm tra và gửi lại mã giảm giá hoặc khôi phục đơn hàng này với số tiền 154k giúp em nha!</p>
						<div>
							<span class="reply"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</span>
						</div>
						<div class="input_reply">
							<div class="style-textarea">
				              <textarea class="styled" placeholder=''></textarea>
				              <div class="text_area">
				                <i class="fa fa-quote-left" aria-hidden="true"></i>
				                <p class="text-area">Mời bạn để lại bình luận sản phẩm</p>
				                <i class="fa fa-quote-right" aria-hidden="true"></i>
				              </div>
				              <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
				            </div>
				            <button type="button" class="btn-primary">Trả lời</button>
						</div>
						<div class="reply-person">
			                <p>Chào bạn, myMall đã nhận được thông tin yêu cầu hỗ trợ từ bạn. Bộ phận CSKH sẽ liên lạc với bạn qua email và điện thoại. Bạn nhớ giữ điện thoại và check mail để biết thông tin thêm nhé. Thân</p>
			                <div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
			            </div>
					</div>
					<div class="id_person">
						<div class="wrap">
							<a href="#">#1234567651</a>
							<div class="comment-simplebox-arrow"><div class="arrow-inner"></div><div class="arrow-outer"></div></div>
						</div>
					</div>
				</li>
			</ul>
			<div class="bottoom_table">
				<p class="left">Tổng trạng thái: <span>10/40</span></p>
				<div class="page">
					<div class="wrap">
						<div class="left">
							<i class="fa fa-angle-double-left">&nbsp</i>
							<div> <p>Trước</p></div>
						</div>
						<p class="display">Trang 1/32</p>
						<div class="right">
							<div><p>Sau</p></div>
							<i class="fa fa-angle-double-right">&nbsp</i>
						</div>
					</div>
					
					<div class="per_page">
						<select class="form-control">
						    <option>10 dòng/ Trang</option>
						    <option>20 dòng/ Trang</option>
						    <option>30 dòng/ Trang</option>
						    <option>40 dòng/ Trang</option>
						</select>
						<i class="fa fa-angle-down">&nbsp</i>
					</div>
				</div>
			</div>
		</section>
	</div>	
</div>
{% endblock %}