{% set current_page = 'product' %}
{% extends "layout/_layout.html" %}
{% block page-content %}
<div class="col-md-">
	<div class="wrap_view view_product create_product">
		<div class="header">
			<h2 class="title">Tạo danh sách filter mới </h2>
			<a href="5.11 CMS-v2-filter-system.html"><i class="fa fa-reply" aria-hidden="true"></i>  Quay lại</a>
		</div>
		<section class="create_filter">
			<ul class="content col-md-7 col-md-offset-2" >
				<li class="row">
					<div class="col-md-3"> <label>Tên danh mục filter:</label></div>
					<div class="col-md-9">
						<input type="text" name="" placeholder="Nhập tên danh mục filter">
					</div>
				</li>
				<li class="row">
					<div class="col-md-3"><label>Thứ tự:</label></div>
					<div class="col-md-9"><input type="text" name="" placeholder="Nhập thứ tự cho danh mục filter"></div>
				</li>
				<li class="row">
					<div class="col-md-3"><label>Trạng thái:</label></div>
					<div class="col-md-9">
						<div class="wrapper_">
						  <input type="checkbox" id="checkbox0" class="slider-toggle" checked/>
							<label class="slider-viewport" for="checkbox0">
						  	<div class="slider">
						    	<div class="slider-button">&nbsp;</div>
						    	<div class="slider-content left"><span>On</span></div>
						    	<div class="slider-content right"><span>Off</span></div>
						  	</div>
							</label>
						</div>
					</div>
				</li>
				<div class="wrap-button col-md-9 col-md-offset-3">
					<button type="button" class="btn_save" value="" data-toggle="modal" data-target="#Modal">Lưu</button>
					<button type="button" class="btn_save_filter" data-toggle="modal" data-target="#Modal">Lưu & Tạo danh mục filter mới</button>
				</div>
			</ul>
			<!-- popup -->
				<div class="modal fade" id="Modal" role="dialog">
					<div class="modal-dialog modal_success">
						<div class="modal-content ">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="content">
								<i class="icon_success">&nbsp</i>
								<h2>Tạo danh sách filter mới THÀNH CÔNG</h2>
								<p>Bạn có thể xem <a href="#">Chi tiết</a> hoặc <a href="#">Danh sách filter</a></p>
								<button type="button" class="btn_next btn-save">Tiếp tục</button>
							</div>
						</div>
					</div>
				</div>
			<!-- end -->
		</section>	
	</div>
</div>
{% endblock %}