.table-display {
	.header_table {
		width: 100%;
		color: #fff;
		font-weight: bold;
		height: 44px; 
		line-height: 44px;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		background: @primary-color;
		.col-md-9 {
			padding-left: 30px;
		}
		.col-md-4 {
			padding-left: 38px;
			@media(max-width: 1400px) {
		        padding-left: 28px;
		    }
		}
	}
	ul {
		display: inline-block;
		padding-left: 0;
		width: 100%;
		li {
			padding: 8px 0px;
			&:nth-child(even){
				background: #e8f9ff;
			}
			&:nth-child(odd){
				background: #fff;
			}			
		}
		.form-group,.btn_primary  {
			margin-bottom: 0;
		}
		.form-control, input[type='text'] {
		    height: 34px;
    		padding: 6px 12px;
    		font-size: 13px;
		}
	}	
	.bottoom_table {
		margin-top: 15px;
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
		.left{
			display: inline-block;
			margin-left: 20px;
			span {
				text-decoration: underline;
			}
		}
	}
}