<!--menu-->
{% block menu%}
<aside class=" main-sidebar" style="margin-right: 50px">
	<div class="menu" data-spy="affix" data-offset-top="50" >
	    <div class="content">
	    	<div class="scrollbar">
				<ul class="panel-group list-menu" id="accordion">
				    <!-- <li class="item-menu panel">
			          	<a href="2.1 CMS-v2-main-home.html">
				          	<i class="icon icon-toolaff">&nbsp</i>
				    		<span>Quản lý chung</span>
			    		</a>
				    </li> -->
				    <!-- <li class="item-menu panel">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				          	<i class="icon icon-donhang">&nbsp</i>
				    		<span>Đơn hàng</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse2" class="panel-collapse collapse">
					        <ul class="sub-menu" >
				    			<li class="item-sub">
				    				<a href="3.1 CMS-v2-xem-don-hang.html">
				    					<p>Xem đơn hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="3.5 CMS-v2-quan-ly-trang-thai-don-hang.html">
				    					<p>Trạng thái đơn hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="3.6 CMS-v2-Yeu-cau-ho-tro.html">
				    					<p>Yêu cầu hỗ trợ</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li> -->
				    <!-- <li class="item-menu panel">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
				          	<i class="icon icon-khovan">&nbsp</i>
				    		<span>Sản phẩm</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse3" class="panel-collapse collapse">
					        <ul class="sub-menu" >
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Xem đơn hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Trạng thái đơn hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Yêu cầu hỗ trợ</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li> -->
				    <!-- <li class="item-menu panel">
			          	<a href="4.1 CMS-v2-nha-cung-cap.html">
				          	<i class="icon icon-supply">&nbsp</i>
				    		<span>Khách hàng</span>
			    		</a>
				    </li> -->
				    <li class="item-menu panel">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
				          	<i class="icon icon-home">&nbsp</i>
				    		<span>Trang chủ</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse5" class="panel-collapse collapse">
					        <ul class="sub-menu" >
				    			<li class="item-sub">
				    				<a href="5.5 CMS-v2-product-category.html">
				    					<p>Category</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="5.1 CMS-v2-product-Brand.html">
				    					<p>Thương hiệu</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="5.8 CMS-v2-product-product_information.html">
				    					<p>Sản phẩm</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="5.11 CMS-v2-filter-system.html">
				    					<p>Hệ thống Filter</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="5.4 CMS-v2-product-tool-import.html">
				    					<p>Tool import</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li>
				    <li class="item-menu panel {% if current_page == 'banner-sale' or current_page == 'image-promotion' or current_page == 'promotion-gift'%}active{% endif %}">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
				          	<i class="icon icon-ad">&nbsp</i>
				    		<span>Khuyến mãi</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse8" class="panel-collapse collapse {% if current_page == 'banner-sale' or current_page == 'image-promotion' or current_page == 'promotion-gift'%}in{% endif %}">
					        <ul class="sub-menu" >
				    			<li class="item-sub {% if current_page == 'banner-sale'%}active{% endif %}">
				    				<a href="7.1-banner-khuyen-mai.html">
				    					<p>Banner</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'image-promotion'%}active{% endif %}">
				    				<a href="7.2-hinh-anh-khuyen-mai.html">
				    					<p>Hình ảnh</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'promotion-gift'%}active{% endif %}">
				    				<a href="7.3-qua-tang-khuyen-mai.html">
				    					<p>Khuyến mãi quà tặng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Promotion landing page</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li>
				    <li class="item-menu panel {% if current_page == 'sieuthi-system' or current_page == 'introduce-thienhoa' or current_page == 'thienhoa-tragop' or current_page == 'sale-b2b'%}active{% endif %}">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
				          	<i class="icon icon-web">&nbsp</i>
				    		<span>Về Thiên Hòa</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse7" class="panel-collapse collapse {% if current_page == 'sieuthi-system' or current_page == 'introduce-thienhoa' or current_page == 'thienhoa-tragop' or current_page == 'sale-b2b'%}in{% endif %}">
					        <ul class="sub-menu" >
				    			<li class="item-sub {% if current_page == 'sieuthi-system' %}active{% endif %}">
				    				<a href="3.1-thien-hoa-he-thong-sieuthi.html">
				    					<p>Hệ thống siêu thị</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'introduce-thienhoa' %}active{% endif %}">
				    				<a href="3.2-thien-hoa-gioi-thieu.html">
				    					<p>Giới thiệu công ty</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'thienhoa-tragop' %}active{% endif %}">
				    				<a href="3.3-thien-hoa-tra-gop.html">
				    					<p>Trả góp</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'sale-b2b' %}active{% endif %}">
				    				<a href="3.4-ban-hang-B2B.html">
				    					<p>Bán hàng B2B</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li>
				    <li class="item-menu panel {% if current_page == 'support-introdution' or current_page == 'giaohang-lapdat' or current_page == 'baohanh-doitra' or current_page == 'trungtam-baohanh'%}active{% endif %}">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
				          	<i class="icon icon-admin">&nbsp</i>
				    		<span>Hỗ trợ khách hàng</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse6" class="panel-collapse collapse {% if current_page == 'support-introdution' or current_page == 'giaohang-lapdat' or current_page == 'baohanh-doitra' or current_page == 'trungtam-baohanh'%}in{% endif %}">
					        <ul class="sub-menu" >
				    			<li class="item-sub {% if current_page == 'support-introdution' %}active{% endif %}">
				    				<a href="4.1-ho-tro-huong-dan.html">
				    					<p>Hướng dẫn mua hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'giaohang-lapdat' %}active{% endif %}">
				    				<a href="4.2-giao-hang-lap-dat.html">
				    					<p>Giao hàng, lắp đặt</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'baohanh-doitra' %}active{% endif %}">
				    				<a href="4.3-bao-hanh-doi-tra.html">
				    					<p>Bảo hành, đổi trả</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'trungtam-baohanh' %}active{% endif %}">
				    				<a href="4.4-trung-tam-bao-hanh.html">
				    					<p>Trung tâm bảo hành</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li>
				    <li class="item-menu panel {% if current_page == 'category-news' or current_page == 'article'%}active{% endif %}">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
				          	<i class="icon icon-news">&nbsp</i>
				    		<span>Tin tức</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse9" class="panel-collapse collapse {% if current_page == 'category-news' or current_page == 'article'%}in{% endif %}">
					        <ul class="sub-menu">
				    			<li class="item-sub {% if current_page == 'category-news'%}active{% endif %}">
				    				<a href="5.1-danh-muc-tin-tuc.html">
				    					<p>Danh mục tin tức</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'article'%}active{% endif %}">
				    				<a href="5.2-bai-viet.html">
				    					<p>Bài viết</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li>	
				    <li class="item-menu panel {% if current_page == 'category-career' or current_page == 'position-career' or current_page == 'CV-career' %}active{% endif %}">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
				          	<i class="icon icon-jobs">&nbsp</i>
				    		<span>Tuyển dụng</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse10" class="panel-collapse collapse {% if current_page == 'category-career' or current_page == 'position-career' or current_page == 'CV-career'%}in{% endif %}">
					        <ul class="sub-menu" >
				    			<li class="item-sub {% if current_page == 'category-career'%}active{% endif %}">
				    				<a href="6.1-danh-muc-tuyen-dung.html">
				    					<p>Danh mục tuyển dụng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'position-career'%}active{% endif %}">
				    				<a href="6.2-vi-tri-tuyen-dung.html">
				    					<p>Vị trí tuyển dụng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub {% if current_page == 'CV-career'%}active{% endif %}">
				    				<a href="6.3-CV-ung-tuyen.html">
				    					<p>CV ứng tuyển</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li>	    
				    <!-- <li class="item-menu panel">
			          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
				          	<i class="icon icon-report">&nbsp</i>
				    		<span>Báo cáo</span>
				    		<i class="fa fa-angle-right" aria-hidden="true"></i>
				    		<i class="fa fa-angle-down" aria-hidden="true"></i>
			    		</a>
				      	<div id="collapse11" class="panel-collapse collapse">
					        <ul class="sub-menu" >
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Xem đơn hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Trạng thái đơn hàng</p>
				    				</a>
				    			</li>
				    			<li class="item-sub">
				    				<a href="#">
				    					<p>Yêu cầu hỗ trợ</p>
				    				</a>
				    			</li>
				    		</ul>
				      </div>
				    </li> -->
				</ul> 
	    	</div>
	    </div>	   
	</div>
</aside>
{% endblock %}