<div class="panel box-panel Panel">
    <div class="top">
        <h3 class="title">Banner giới thiệu</h3>
        <a class="pull-right update-action UpdateAction" style="display: none;">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span>Cập nhật</span>
        </a>
    </div>
    <div class="banner banner-display DisplayData" style="display: none;">
        <img src="assets/images/banner-indoduce.png" alt="banner">
    </div>
    <div class="banner-update UpdateData">
        <div class="col-md-9">
            <img src="assets/images/banner-indoduce.png" alt="banner">
        </div>
        <div class="col-md-3">
            <ul class="wrap_btn">
                <li>
                    <a href="#" class="btn-loadfile">
                        <i class="icon-browser">&nbsp;</i>
                        <span>Browse ...</span>
                        <input type="file" name="newfile">
                    </a>
                </li>
            </ul>
            <div class="show_file">
                <span class="file_name"></span>
            </div>
            <span class="size-note">Kích thước 900 x 300 px</span>
            <label>Link banner</label>
            <input type="text" name="" class="form-control" placeholder="Nhập link banner">
            <label class="error">Nhập link banner</label>
            <div class="action pull-right">
                <span class="cancel Cancel">Hủy bỏ</span>
                <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".SuccessModal">Cập nhật thông tin</button>
            </div>
        </div>
    </div>
    <div class="banner-update AddData">
        <div class="col-md-9">
            <img src="assets/images/banner-indoduce.png" alt="banner">
        </div>
        <div class="col-md-3">
            <ul class="wrap_btn">
                <li>
                    <a href="#" class="btn-loadfile">
                        <i class="icon-browser">&nbsp;</i>
                        <span>Browse ...</span>
                        <input type="file" name="newfile">
                    </a>
                </li>
            </ul>
            <div class="show_file">
                <span class="file_name"></span>
            </div>
            <span class="size-note">Kích thước 900 x 300 px</span>
            <label>Link banner</label>
            <input type="text" name="" class="form-control" placeholder="Nhập link banner">
            <label class="error">Nhập link banner</label>
            <div class="action pull-right">
                <span class="cancel Cancel">Hủy bỏ</span>
                <button class="btn button-update BtnUpdate" data-toggle="modal" data-target=".AddSuccessModal">Thêm mới thông tin</button>
            </div>
        </div>
    </div>
    <div class="no-banner NoData">
        <p>Chưa có thông tin, bạn vui lòng thêm mới!</p>
        <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i>Thêm mới</button>
    </div>
</div>