<div class="banner-promotion DisplayPromotion" >
    <div class="table-display">
        <div class="header_table">
            <div class="col-md-7">
                <div class="col-md-4 ">
                    <span>Tên chương trình</span>
                </div>
                <div class="col-md-4">
                    <span>Loại khuyến mãi</span>
                </div>
                <div class="col-md-4 text-center">
                    <span>Thời gian áp dụng</span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-4 no-padding">
                    <span>Trạng thái</span>
                </div>
                <div class="col-md-4 no-padding text-center">
                    <span>Dừng chương trình</span>
                </div>
                <div class="col-md-4 text-center">
                </div>
            </div>
        </div>
        <ul class="promotion-gift panel-group" id="accordion3">
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Chưa kích hoạt</span>
                        </div>
                    </div>    
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapsea">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapsea">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapseb">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapseb">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi tháng 9/2017</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapsec">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapsec">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapsed">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapsed">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi tháng 9/2017</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng </span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapsee">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapsee">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapsef">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapsef">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapseg">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapseg">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapsek">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapsek">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapseh">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapseh">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
            <li class="row panel">
                <div class="col-md-7">
                    <div class="col-md-4 content">
                        <span>Khuyến mãi 49%</span>
                    </div>
                    <div class="col-md-4 content">
                        <span>Mua sản phẩm gia dụng</span>
                    </div>
                    <div class="col-md-4 text-center date-time">
                        <span>15/07/2017 - 00:00:00 <br> 30/07/2017 - 23:59:00</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-4 text-center">
                        <div class="wrapper tooltip">
                          <input type="checkbox" id="checkbox" class="slider-toggle" checked onclick="return false;" onkeydown="return false;"/>
                            <label class="slider-viewport" for="checkbox">
                                <div class="slider">
                                    <div class="slider-button">&nbsp;</div>
                                    <div class="slider-content left"><span>On</span></div>
                                    <div class="slider-content right"><span>Off</span></div>
                                </div>
                            </label>
                            <span class="tooltiptext">Kích hoạt</span>
                        </div>
                    </div>                            
                    <div class="col-md-4 text-center">
                        <button class="btn btn-stop">Dừng</button>
                    </div>                        
                    <div class="col-md-4 text-right">
                        <a class="tooltip" data-toggle="collapse" data-parent="#accordion3" href="#collapseo">
                            <i class="fa fa-eye" aria-hidden="true" ></i>
                            <span class="tooltiptext">Xem nhanh</span>
                        </a>
                        <a class="tooltip">
                            <i class="icon-edit-pen active UpdateAction" aria-hidden="true" ></i>
                            <i class="icon-edit-pen-hover UpdateHover" title="Chỉnh sửa">&nbsp</i>
                            <span class="tooltiptext">Cập nhật</span>
                        </a>
                    </div>
                </div>
                <div class="view_fast panel-collapse collapse" id="collapseo">
                    {% include "_block-view-fast.html" %} 
                </div>
            </li>
        </ul>
        <div class="bottoom_table">
            <p class="left">Tổng trạng thái: <span>10/40</span></p>
            <div class="page">
                <div class="wrap">
                    <div class="left">
                        <i class="fa fa-angle-double-left">&nbsp</i>
                        <div> <p>Trước</p></div>
                    </div>
                    <p class="display">Trang 1/4</p>
                    <div class="right">
                        <div><p>Sau</p></div>
                        <i class="fa fa-angle-double-right">&nbsp</i>
                    </div>
                </div>
                
                <div class="per_page">
                    <select class="form-control">
                        <option>10 dòng/ Trang</option>
                        <option>20 dòng/ Trang</option>
                        <option>30 dòng/ Trang</option>
                        <option>40 dòng/ Trang</option>
                    </select>
                    <i class="fa fa-angle-down">&nbsp</i>
                </div>
            </div>
        </div>
    </div>
</div>