<div class="wrap-view">
    <ul class="view-list">
        <li><b>Tên chương trình: </b> <span class="color">Khuyến mãi 49% hàng điện máy gia dụng</span></li>
        <li><b>Loại khuyến mãi: </b> <span>Mua 1 sản phẩm gia dụng, tặng bộ thau cao cấp</span></li>
        <li><b>Thời gian áp dụng: </b><span>15/07/2017 - 00:00:00 ~ 30/07/2017 - 23:59:00</span></li>
        <li><b>Sản phẩm khuyến mãi: </b><span class="color">< 013HA94862 >; < 835BF99481>; < 0254SA6524 >; < 0257HY5468 >; < 1587ON0219 >; < 0287IK0126 ></span></li>
        <li><b>Sản phẩm quà tặng: </b> <span class="color">< 1581KM2658 ></span></li>
        <li>
            <b>Trạng thái: </b>
            <div class="wrapper">
                <input type="checkbox" id="checkbox3" class="slider-toggle" checked />
                <label class="slider-viewport" for="checkbox3">
                <div class="slider">
                    <div class="slider-button">&nbsp;</div>
                    <div class="slider-content left"><span>On</span></div>
                    <div class="slider-content right"><span>Off</span></div>
                </div>
                </label>
            </div>
        </li>
    </ul>
</div>
