<p class="total_donhang">Tổng đơn hàng: <span class="number">22,005</span></p>
<div class="page">
	<div class="wrap">
		<div class="left">
			<i class="fa fa-angle-double-left">&nbsp</i>
			<div> <p>Trước</p></div>
		</div>
		<p class="display">Trang 1/2201</p>
		<div class="right">
			<div><p>Sau</p></div>
			<i class="fa fa-angle-double-right">&nbsp</i>
		</div>
	</div>
	
	<div class="per_page">
		<select class="form-control">
		    <option>10 dòng/ Trang</option>
		    <option>20 dòng/ Trang</option>
		    <option>30 dòng/ Trang</option>
		    <option>40 dòng/ Trang</option>
		</select>
		<i class="fa fa-angle-down">&nbsp</i>
	</div>
</div>