<script src="assets/js/lib/jquery.js" type="text/javascript"></script>
<script src="assets/js/lib/libs.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/lib/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/js/lib/bootstrap-select.js" type="text/javascript"></script>
<script src="assets/js/lib/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="assets/js/lib/amcharts.js"></script>
<script src="assets/js/lib/pie.js"></script>
<script src="assets/js/lib/light.js"></script>
<script src="assets/js/lib/jquery.checkall.js" type="text/javascript"></script>
<script src="assets/js/lib/chart.js" type="text/javascript"></script>
<script src="assets/js/plugin/swiper.min.js" type="text/javascript"></script>
<script src="assets/js/script.js" type="text/javascript"></script>
